In [25]:
import pandas as pd


data = {'year': [2000, 2001,2002,2003,2004],
       'first_place':['john','boo','foo','doo','cheese'],
       'second_place':['boo','doo', 'poo','banana','chair'],
       'third_place':['apple','orange','cheese','milk','pear']}
df = pd.DataFrame(data)

# get unique names
names = df.first_place.append(df.second_place).append(df.third_place)
names = names.unique()

# create an ampty df to store
df_new = pd.DataFrame()

# get value counts
n1 = df['first_place'].value_counts().to_frame()

n2= df['second_place'].value_counts().to_frame()

n3= df['third_place'].value_counts().to_frame()

# stack all the dataframe
df = pd.concat([n1,n2,n3], axis = 1)


# fill na with 0
df.fillna(0)

   year first_place second_place third_place
0  2000        john          boo       apple
1  2001         boo          doo      orange
2  2002         foo          poo      cheese
3  2003         doo       banana        milk
4  2004      cheese        chair        pear

In [7]:
def fact(n):
    init = 1
    f = 1
    while init < n+1:
        f = f * init
        init += 1
    return f
test = fact(5)
test

120

In [15]:
def cons(n):
    c = 0
    for i in range(n):
#         print(i)
        c += 1/fact(i)
    return c/n
test = cons(100)
test

0.027182818284590456

In [33]:
def cons(n):
    c = 0
    for i in range(n):
        c += 1/fact(i)
        d = c/(i+1)
#         print(c,d)
        if d < 0.0001:
            print('found d < 0.0001')
            print(n,c,d)
            return d, i
            break
        
test = cons(50000)
# test

KeyboardInterrupt:

In [35]:
list = ['1', ‘2', '3', '4', '5']
print (list[12:])

SyntaxError: invalid character '‘' (U+2018) (2777391081.py, line 1)