In [1]:
import pandas as pd
from sqlalchemy import create_engine 
# import pymysql.cursors
import os
import getpass

ModuleNotFoundError: No module named 'pymysql'

In [2]:
pw = os.getenv('mysql_andy')

In [8]:
pw = getpass.getpass()

 ········

In [10]:
#engine = sqlalchemy.create_engine(f"mysql://{username}:{password}@{host}:{port}")
pw = ''
connection_string = 'mysql://root:' + pw + '@localhost:3306/'
engine = create_engine(connection_string)

In [11]:
with engine.connect() as conn:
    conn.execute(f"CREATE DATABASE IF NOT EXISTS alchemy_test")

In [14]:
df = pd.read_csv('Admission_Predict.csv')

In [15]:
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

In [17]:
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

In [18]:
df.columns = ['serial_no', 'gre_score', 'toefl_score', 'university_rating', 'sop',
       'lor', 'cgpa', 'research', 'chance_of_admit']

In [20]:
df.to_sql('admission_predict',engine, 'alchemy_test', if_exists='replace', index=False)

385

In [25]:
sql = """
select university_rating, count(*) as volume
from alchemy_test.admission_predict
group by 1
"""

In [26]:
new_df = pd.read_sql_query(sql, engine)

In [24]:
new_df

   university_rating  volume
0                  4      69
1                  3     129
2                  2     104
3                  5      57
4                  1      26