# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [120]:
# import numpy and pandas

import numpy as np
import pandas as pd
import scipy.stats as stats

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [121]:
# Your code here:

data = pd.read_csv('Employees_advanced.csv')
data

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
...,...,...,...,...,...,...,...,...
33178,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
33179,"ZYMANTAS, LAURA C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
33180,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
33181,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
33182,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,115932.0,NaN

Examine the `salaries` dataset using the `head` function below.

In [122]:
# Your code here:
# standardize col names
data.columns = data.columns.str.lower().str.replace(' ', '_')

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [123]:
# Your code here:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               33183 non-null  object
 1   job_titles         33183 non-null  object
 2   department         33183 non-null  object
 3   full_or_part-time  33183 non-null  object
 4   salary_or_hourly   33183 non-null  object
 5   typical_hours      8022 non-null   float64
 6   annual_salary      25161 non-null  float64
 7   hourly_rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [125]:
# Your code here:

salary_count = data[data['salary_or_hourly'].str.lower()=='salary']['name'].count()
hourly_count = data[data['salary_or_hourly'].str.lower()=='hourly']['name'].count()
print(salary_count, hourly_count)

25161 8022

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [126]:
# Your code here:

data.groupby('department')[['name']].count()

                        name
department
ADMIN HEARNG              39
ANIMAL CONTRL             81
AVIATION                1629
BOARD OF ELECTION        107
BOARD OF ETHICS            8
BUDGET & MGMT             46
BUILDINGS                269
BUSINESS AFFAIRS         171
CITY CLERK                84
CITY COUNCIL             411
COMMUNITY DEVELOPMENT    207
COPA                     116
CULTURAL AFFAIRS          65
DISABILITIES              28
DoIT                      99
FAMILY & SUPPORT         615
FINANCE                  560
FIRE                    4641
GENERAL SERVICES         980
HEALTH                   488
HUMAN RELATIONS           16
HUMAN RESOURCES           79
INSPECTOR GEN             87
LAW                      407
LICENSE APPL COMM          1
MAYOR'S OFFICE            85
OEMC                    2102
POLICE                 13414
POLICE BOARD               2
PROCUREMENT               92
PUBLIC LIBRARY          1015
STREETS & SAN           2198
TRANSPORTN              1140
TREASURER                 22
WATER MGMNT             1879

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [134]:
# Your code here:
from scipy.stats import ttest_1samp

alpha = 0.05
df = 8021
     
hourly = data[data['salary_or_hourly']=='Hourly']
hourly_rate = hourly['hourly_rate']
hourly_rate


mean_s = hourly_rate.mean()
std_s = np.std(hourly_rate)
mean_p = 30

t_stats, p = stats.ttest_1samp(hourly_rate,mean_p)
# print(t_calc, p)a
t_critical = stats.t.ppf(1 - alpha *.5, df)
t_calc = (mean_s- mean_p) / ((std_s) / np.sqrt(8021))

print(t_stats, t_critical, t_calc)

upper, lower = mean_s + t_critical * std_s / np.sqrt(df) , mean_s - t_critical * std_s / np.sqrt(df)
print(upper, lower, mean_s,std_s)

20.6198057854942 1.9602597859561675 20.619805785501903
33.05365708767727 32.52345834488529 32.78855771628128 12.111817701093837

In [135]:
# using t interval

err = stats.sem(hourly_rate, axis = None)
t = stats.t.interval(0.95, df, mean_s, err)
err_cal = std_s/np.sqrt(df+1)
print(t)

(32.52345834488529, 33.05365708767727)

In [131]:
np.std(hourly_rate)

12.111817701093837

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [140]:
# Your code here:

alpha = 0.05
df = data[data['salary_or_hourly'].str.lower()=='salary']['name'].count() - 1

salary = data[data['salary_or_hourly'].str.lower()=='salary']['annual_salary'] 
mean_s =salary.mean()
mean_p = 86000
std_s = np.std(salary)

t_critical = stats.t.ppf(1 - alpha, df)
t_stats, p = stats.ttest_1samp(salary, mean_p)
t_calc = (mean_s - mean_p) / (std_s/np.sqrt(df+1))

upper, lower = mean_s + t_critical * std_s / np.sqrt(df+1) , mean_s - t_critical * std_s / np.sqrt(df+1)

print(t_stats, t_critical, t_calc)
print(upper, lower , mean_s, df)

5.932870515690814 1.644914192356718 5.932988417352405
87005.194573815 86568.80500648807 86786.99979015153 25160

In [141]:
# using t interval

err = stats.sem(salary, axis = None)
t = stats.t.interval(0.95, df, mean_s, err)
err_cal = std_s/np.sqrt(df+1)
print(t)

(86526.99656774197, 87047.0030125611)

Using the `crosstab` function, find the department that has the most hourly workers.

In [77]:
# Your code here:

pd.crosstab(data.department, columns = data.salary_or_hourly).sort_values(by = 'Hourly', ascending = False).head()

salary_or_hourly  Hourly  Salary
department
STREETS & SAN       1862     336
WATER MGMNT         1513     366
OEMC                1273     829
AVIATION            1082     547
GENERAL SERVICES     765     215

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [119]:
# Your code here:

streets = data[(data['department']=='STREETS & SAN')&(data['salary_or_hourly']=='Hourly')]
streets_pay = streets.hourly_rate

alpha = 0.05
df = len(streets_pay) - 1 

mean_s = streets_pay.mean()
mean_p = 35
std_s = np.std(streets_pay)

t_stats, p = stats.ttest_1samp(streets_pay, 35)
t_critical = stats.t.ppf(1 - alpha, df)
t_calc = (mean_s - mean_p) / (std_s / np.sqrt(df+1))

upper, lower = mean_s + t * std_s / np.sqrt(df+1), mean_s - t * std_s / np.sqrt(df+1) 
# print(streets_pay)
print(t_stats, t_critical, t_calc)
print(upper, lower , mean_s, df)

TypeError: can't multiply sequence by non-int of type 'float'

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [118]:
# Your code here:
err = stats.sem(streets_pay, axis = None)
t = stats.t.interval(0.95, df, mean_s, err)
err_cal = std_s/np.sqrt(df)
print(std_s, err,err_cal)
print(t)
print(upper, lower , mean_s, df)

5.733701558944117 0.13291129743573266 0.13291129743573168
(33.46770719766768, 33.98904897848601)
32.457097688692095 34.999658487461595 33.728378088076845 1861

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [116]:
# Your code here:
err_h = stats.sem(hourly_rate)
print(err_h,err)

0.1352368565101596 0.13291129743573266

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: